<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css" media="screen" />
</head>
<body>
<section id="content" class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <i class="fa fa-home"></i>
            </a>

        </div>
        <div class="navbar-header navbar-right">
            <a href="/cart" class="navbar-brand">
                <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
            </a>
        </div>

    </nav>